<div class="container">
  <div class="row">
    <p>This code was created in order to solve <a href="https://www.hackerrank.com/challenges/cube-summation">the following exercise </a>of hackerrank.</p><hr>
  </div>
  <div class="row">
    <div class="col-sm-6">
        <label>Number of teste cases</label>
        <input class="form-control" type="text" [(ngModel)]="t">
    </div>
    <div class="col-sm-6">
       <a class="btn btn-default" (click)="initTestCases()">Set test cases</a>
    </div>
  </div>

  <div *ngFor = "let testCase of testCases; let testIndex = index" >
      <!-- General Info test case-->
      <div class="row">
        <div class=" col-sm-4">
          <label>Matrix dimensions</label>
          <input class="form-control" type="text" [(ngModel)]="testCases[testIndex].n">
        </div>
        <div class="col-sm-4">
          <label>Number of operations</label>
          <input class="form-control" type="text" [(ngModel)]="testCases[testIndex].m">
        </div>
        <div class="col-sm-4">
          <a class="btn btn-default" (click)="initSpecificTestCase(testIndex)">Set general info</a>
        </div>
      </div>
      <!-- End general info test case-->
      <!-- Test case operations-->
      <div class="row" *ngFor="let operation of testCases[testIndex]['operations']; let operationIndex = index">
        <div class="row">
          <div class="col-sm-4">
            <label>Type of operation</label>
            <select class="form-control" [(ngModel)]="testCases[testIndex]['operations'][operationIndex].type">
              <option value="u">Update</option>
              <option value="q">Query</option>
            </select>
          </div>
          <div class="col-sm-8">
            <input class="form-control" type="text" [(ngModel)]="testCases[testIndex]['operations'][operationIndex].value">
          </div>
        </div>
      </div>
     <!-- End test case operations-->
  </div>

  <div class="row">
    <a class="btn btn-default" (click)="calculateExercise()">Calculate</a>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <h3>Full Output</h3>
      </div>
      <div class="row">
        <ul>
          <li *ngFor="let logItem of log.mainLog">{{logItem}}</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <h3>Min Output</h3>
      </div>
      <div class="row">
        <ul>
          <li *ngFor="let logItem of log.minLog">{{logItem}}</li>
        </ul>
      </div>
    </div>
  </div>



</div>